h2 {
  /* color: #d9c387; */
  /* background-color: rgb(4, 20, 69); */
  text-align: center;
  width: 80%;
  font-weight: 800;
  text-decoration: orangered underline wavy 1px;
  letter-spacing: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button {
  color: burlywood;
  background-color: black;
}

p {
  /* color: mediumslateblue; */
  /* background: brown; */
  text-align: right;
  font-weight: bold;
  line-height: .9;
  font-size: .8em;
}
